@model Fallacies.Data.GitFallacy

<tr>
    <td>@Model.Id</td>
    <td><p style="background-image: url(@Model.ImagePathBackground)"><img src="@Model.ImagePathIcon"></p></td>
    <td>@Model.NameEn</td>
    <td>@Model.NameRu</td>
    <td>@Model.Description</td>
    <td>@Model.Examples</td>
</tr>